@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #080808;
  color: #e5e5e5;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden {
  -ms-overflow-style: none;   /* IE/Edge */
  scrollbar-width: none;      /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
